#body_first-example::before{
    content: "bye";
    color: white;
    background-color: red;
}
#body_second-example::after{
    content: "♘";
}
#body_thrird-example{
    height: 100px;
    width: 100px;
    background-color: black;
}
#body_thrird-example::before{
    content: "e";
    float: left;
    background-color: yellow;
    color: yellow;
    width: 10px;
    height: 100px;
}
#body_thrird-example::after{
    content: "e";
    float: right;
    background-color: yellow;
    color: yellow;
    width: 10px;
    height: 100px;
}