#knopka:hover{
 color: blue;
}
#vvod{
    color: red;
}
#detei:first-child{
    font: small-caption;
}
#detei:last-child{
    font-family: sans-serif;
}
a:hover{
    color: orange;
}
.deev:first-child{
    font-style: italic;
}
.dich:first-child:hover{
    background-color: black;
}
.dich:last-child:focus{
    color: blueviolet;
}
#deti:nth-child(odd){
    color: red;
}