h1{
    color: red;
}
h2{
    color: yellow;
}
h3{
    color: lime;
}
p{
    color: cyan;
}
body{
    background-image: url(https://avatars.mds.yandex.net/i?id=18c3346de69e27edd7062a2bdef2a3133c60d6eb-4276653-images-thumbs&n=13);
}
li{
    animation: rainbow 1s infinite;
}
li:hover{
    transform: 1s -1.25;
}
@keyframes rainbow{
    0%{
        color: red;
    }
    25%{
        color: yellow;
    }
    50%{
        color: green;
    }
    75%{
        color: blue;
    }
    100%{
        color: purple;
    }
}