body{
    background-image: url(https://avatars.mds.yandex.net/i?id=18c3346de69e27edd7062a2bdef2a3133c60d6eb-4276653-images-thumbs&n=13);
}
h1{
    color: blue;
    width: 100px;
    height: 50px;
    overflow: scroll;
}
h2{
    background-color: white;
    font-weight: 900;
    border: 2cm solid;
    border-color: red;
    margin: 2cm;
}
p{
    background-color: cyan;
    text-align: center;
    font-size: xx-large;
    border: 10px;
    border-radius: 100%;
    padding: 1cm;
}