@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');
@keyframes chaos {
    0%{
        font-family: "Raleway";
    }
    25%{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    50%{
        font-family: "Comic Relief";
    }
    75%{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    100%{
        font-family: 'Courier New', Courier, monospace;
    }
}
h1{
    animation: chaos 0.5s infinite;
}
#one{
    font-family: "Raleway";
}
#two{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#three{
    font-family: "Comic Relief";
}
#four{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#five{
    font-family: 'Courier New', Courier, monospace;
}