@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
header{
    width: 1440px;
    height: 100px;
    background-color: rgba(225, 237, 230, 1);
    display: flex;
    margin-top: 0;
    padding-top: 0;
}
body{
    margin: 0;
    padding: 0;
}
#logo{
    margin-left: 165px;
    margin-top: 33px;
    margin-right: 497px;
    width: 143px;
    height: 35px;
    display: flex;
}
#coc{
    color: rgba(89, 141, 102, 1);
    font-family: Raleway;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 100px;
    height: 23px;
    margin-top: 9px;
    margin-left: 8px;
}
#logo1{
    width: 470px;
    height: 24px;
    margin-top: 38px;
    gap: 59px;
    display: flex;
    text-align: center;
    align-items: center;
}
#coc1{
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(44, 45, 53, 1);
}
#main{
    width: 1440px;
    height: 620px;
    display: flex;
    margin-left: 165px;
}
#inner-main{
    width: 540px;
    height: 331px;
    margin-left: 30px;
    margin-top: 145px;
}
#tita{
    font-family: Raleway;
    font-weight: 500;
    font-size: 60px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: rgba(44, 45, 53, 1); 
}
#popca{
    color: rgba(89, 141, 102, 1);
}
#da{
    font-family: Raleway;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(134, 146, 139, 1);
    width: 540px;
    height: 54px;

}
#main-button{
    width: 225px;
    height: 65px;
    border: 1px solid rgba(89, 141, 102, 1);
    color: rgba(89, 141, 102, 1);
    background-color: white;
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}
#line{
    width: 0px;
    height: 0px;
}
#vector{
    width: 0px;
    height: 0px;
}
#trololo1{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    header{
        width: 768px;
    }
    #logo{
        margin-right: 102px;
        margin-left: 39px;
    }
    #main{
        width: 768px;
        margin-left: 39px;
    }
    #ptichka{
        height: 380px;
        width: 330px;
    }
    #inner-main{
        margin-top: 35px;
        height: 330px;
        width: 308px;
    }
    #main-button{
        height: 60px;
        width: 210px;
    }
    #coc{
        font-size: 18px;
    }
    #coc1{
        font-size: 18px;
    }
    #tita{
        font-size: 40px;
        line-height: 100%;
        width: 330px;
    }
    #da{
        width: 330px;
    }
    #main-button{
        margin-top: 60px;
        height: 60px;
        width: 210px;
    }
}
@media (max-width: 576px) {
    #trololo{
        margin-left: 65px;
    }
    #line{
        width: 510.00000000000193px;
        border-width: 1px;
        border: 1px solid rgba(195, 209, 198, 1);
        margin-left: 33px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    #logo{
        margin-left: 217px;
        padding-top: 16px;
        margin-top: 0;
    }
    #logo1{
        margin-left: 33px;
        width: 510px;
        margin-top: 0;
    }
    header{
        width: 576px;
        height: 123px;
        display: block;
    }
    #main{
        width: 576px;
        margin-left: 39px;
    }
    #ptichka{
        width: 195px;
        height: 239px;
        margin-top: 50px;
    }
    #inner-main{
        margin-top: 35px;
        height: 330px;
        width: 308px;
    }
    #main-button{
        height: 60px;
        width: 210px;
    }
    #tita{
        font-size: 36px;
        line-height: 100%;
        width: 285px;
        margin-bottom: 0;
    }
    #da{
        margin-top: 10px;
        width: 285px;
    }
    #main-button{
        margin-top: 11px;
        height: 50px;
        width: 175px;
    }
}
@media (max-width: 576px) {
    #trololo{
        margin-left: 65px;
    }
    #line{
        width: 510.00000000000193px;
        border-width: 1px;
        border: 1px solid rgba(195, 209, 198, 1);
        margin-left: 33px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    #logo{
        margin-left: 217px;
        padding-top: 16px;
        margin-top: 0;
    }
    #logo1{
        margin-left: 33px;
        width: 510px;
        margin-top: 0;
    }
    header{
        width: 576px;
        height: 123px;
        display: block;
    }
    #main{
        width: 576px;
        margin-left: 39px;
    }
    #ptichka{
        width: 195px;
        height: 239px;
        margin-top: 50px;
    }
    #inner-main{
        margin-top: 35px;
        height: 330px;
        width: 308px;
    }
    #main-button{
        height: 60px;
        width: 210px;
    }
    #tita{
        font-size: 36px;
        line-height: 100%;
        width: 285px;
        margin-bottom: 0;
    }
    #da{
        margin-top: 10px;
        width: 285px;
    }
    #main-button{
        margin-top: 11px;
        height: 50px;
        width: 175px;
    }
}
@media (max-width: 480px) {
    #trololo1{
        height: 24px;
        width: 24px;
        margin-left: 236px;
    }
    #vector{
        width: 30px;
        height: 30px;
        margin-left: 15px;
        margin-top: 16px;
    }
    #star{
        margin-left: 88.5px;
    }
    #trololo{
        margin-left: 236px;
    }
    #line{
        width: 0px;
        border-width: 0px;
        border: 0;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #logo{
        width: 320px;
        height: 52px;
        padding-top: 17px;
        margin-top: 0;
        background-color: white;
        margin-left: 0;
    }
    #logo1{
        visibility: hidden;
        margin-left: 0px;
        width: 0px;
        margin-top: 0;
    }
    header{
        width: 320px;
        height: 130px;
        display: block;
    }
    #main{
        width: 320px;
        margin-left: 0px;
    }
    #ptichka{
        width: 0px;
        height: 0px;
        margin-top: 50px;
    }
    #inner-main{
        margin-top: 60px;
        height: 330px;
        width: 308px;
        margin-left: 15px;
    }
    #main-button{
        height: 60px;
        width: 210px;
    }
    #tita{
        font-size: 30px;
        line-height: 100%;
        width: 285px;
        margin-bottom: 0;
    }
    #da{
        font-size: 14px;
        margin-top: 20px;
        width: 285px;
    }
    #main-button{
        margin-top: 40px;
        height: 50px;
        width: 154;
    }
}