body{
    background-color: black;
}
.da{
    color: white;
}
#cyan{
    color: cyan;
}
#white{
    color: white;
}
div{
    background-color: black;
}
.class{
    background-color: gray;
}
#id{
    background-color: white;
}