#one{
    display: flex;
}
.animation{
    background-color: gray;
    height: 100px;
    width: 100px;
    margin: 50px;
    align-content: center;
    text-align: center;
}
#a:hover{
    transform: rotate(45deg);
}
#b:hover{
    transform: scale(1.5);
}
#c:hover{
    transform: translate(30px, 30px);
}
#d:hover{
    transform: skew(-30deg);
}
#two{
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background-color: black;
    transition: transform 1s ease-in;
    margin-left: 100px;
}
#two:hover{
    transform: rotate(180deg) scale(1.5);
}
@keyframes insanity{
    0%{
        background-color: red;
        transform: translate(0px, 0px);
    }
    20%{
        background-color: yellow;
        transform: translate(20px, -30px);
    }
    40%{
        background-color: green;
        transform: translate(40px, -40px);
    }
    50%{
        transform: translate(50px, -50px);
    }
    60%{
        background-color: blue;
        transform: translate(60px, -40px);
    }
    80%{
        background-color: purple;
        transform: translate(80px, -30px);
    }
    100%{
        background-color: red;
        transform: translate(100px, 0px);
    }
}
#three{
    height: 300px;
    width: 300px;
    animation: insanity 1s infinite alternate ease-in-out;
    margin-top: 200px;
}